<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.baidu.hi.sdk"
    android:versionCode="35"
    android:versionName="v1.0.1.5" >

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="22" />

</manifest>